<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <display-name>ESOBase</display-name>

    <servlet>
        <servlet-name>search-in-catalogs-servlet</servlet-name>
        <servlet-class>org.esn.esobase.service.SearchInCatalogsServlet</servlet-class>
        <load-on-startup>15</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>search-in-catalogs-servlet</servlet-name>
        <url-pattern>/searchservlet/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>get-books-servlet</servlet-name>
        <servlet-class>org.esn.esobase.service.GetBooksServlet</servlet-class>
        <load-on-startup>20</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>get-books-servlet</servlet-name>
        <url-pattern>/getbooks/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>translate-api-servlet</servlet-name>
        <servlet-class>org.esn.esobase.service.TranslateApiServlet</servlet-class>
        <load-on-startup>25</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>translate-api-servlet</servlet-name>
        <url-pattern>/translateapi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpringLoginDispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context.xml</param-value>
        </init-param>
        <load-on-startup>5</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpringLoginDispatcherServlet</servlet-name>
        <url-pattern>/login/*</url-pattern>
    </servlet-mapping>
    <!-- Spring Security -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>